<!DOCTYPE html>
<html lang="{{ site.language }}">
  <style>
.logo-image-2 {
           display: block; 
           margin: 0 auto;
       
          
        }
 @media (max-width: 768px) {
 .logo-image-2 {
              width: 373px;
                height: 81px;
            }
}
@media (max-width: 480px) {
 .logo-image-2 {
               width: 373px;
                height: 81px;
            }
}
</style>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="https://img.totgoose.ru/favicon.ico" type="image/x-icon">
  <title>{{ page.title | default: site.title }}</title>
  {% feed_meta %}
</head>
  <img src="https://img.totgoose.ru/goose_text.png" alt="Гусь" class="logo-image-2"> </br>
<body style="font-family: system-ui, sans-serif; max-width: 800px; margin: 2rem auto; padding: 0 1rem; line-height: 1.6;">
  {{ content }}
</body>
</html>
